#particles.js{
  position: relative;
}
body{
  text-align: center;
  color: white;
  font-family: 'roboto', sans-serif;
  margin-top: 5px;
}
.parallax{
  height: 100%;
  width: 99%;
  z-index: -1;
  background-image: url(asset/img/bgbleu.jpg);
  position: absolute; /* put the background in position relative from parent block */
  background-attachment: fixed; /* background doesn't moove whan page is scrolling */
  background-position: center;
  background-repeat: no-repeat; /* drop the mozaique effect */
  background-size: cover; /* all the place is covered */
}
.container-full-width{
  margin: 0;
  padding: 0;
  background-size: full-width;
}
.nav-link{
  height: 50px;
  outline: none;
}
.nav-link:hover{
  transition-duration: 0.3s;
  border-bottom: 2px white solid;
  transform: scale(1.2);
}
.middle{
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.btn{
  display: inline-block;
  width: 90px;
  height: 90px;
  background: transparent;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px black;
  color: #3498db;
  overflow: hidden;
  position: relative;
  border: 1px solid black;
}
.btn:hover{
  border: none;
  transform: scaleY(1.0);
}
.btn i{
  line-height: 80px;
  font-size: 30px;
  transition: 0.3s linear;
  color: black;
}
.btn:hover i{
  transform: scale(1.5);
  color: black;
}
.btn:before{
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  background: lightblue;
  top: 110%;
}
.btn:hover::before{
  animation: aaa 0.7 1;
  top: -10%;
  left: -10%;
}
.wrapper{
  background-image: url(asset/img/bg20.jpeg);
  background-size:cover;
  repeat: no-repeat;
  height: 70vh;
}
.wrapper h1{
  font-weight: bold;
  font-size: 4em;
  text-shadow: 0.2em 0.2em 0.3em black;
  opacity: 0.8;
  animation-duration: 4s;
}
.wrapper #click{
  color: black;
  font-size: 1.5em;
  position: absolute;
  margin-left: 49%;
  margin-top: 23%;
  color: white;
  opacity: 0.8;
  border: 2px white solid;
  border-radius: 15px 15px 15px 15px;
  padding: 10px;
  line-height: 25px;
  padding-bottom: 16px;
}
.wrapper a{
  text-decoration: none;
  color: white;
}
//h1:hover{
  font-size: 6em;
  transition-duration: 1S;
}
#presentation{
  color: black;
}
#presentation h2{
  text-align: center;
  font-size: 3rem;
  color: grey;
}
.pres_gauche p{
  margin: 55px;
  color: grey;
}

.photo img{
border: 1px solid black;
width: 350px;
height: 400px;
}
.info ul{
list-style: none;
}
.progress h4{
  color: black;
}
.progress{
  width: 70%;
  float: left;
}
.skill-title{
  width: 25%;
  float: left;
}
.comp_row{
  height: 250px;
}
.cont_right{
  width: 20%;
  height: auto;
  float: left;
  margin-left: 8%;
  position: relative;
  top: 20%;
  animation-duration: 2s;
  backface-visibility: hidden;
  overflow:hidden;
}
.cont_right{
  animation: animRight linear 1.5s;
}
@keyframes animRight {
  0%{
    transform : translateX(700px);
  }
  100%{
    transform: translateX(0px);
  }
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');
.timelineCv{
  padding:0;
  margin:0;
  font-family: 'Montserrat', sans-serif;
  background: white;
}

.timeline{
  position:relative;
  margin:50px auto;
  padding:40px 0;
  width:1000px;
  box-sizing:border-box;
  background: white;
}
.timeline:before{
  content:'';
  position:absolute;
  left:50%;
  width:2px;
  height:100%;
  background:#c5c5c5;
}
.timeline ul{
  padding:0;
  margin:0;
}
.timeline ul li{
  list-style:none;
  position:relative;
  width:50%;
  padding:20px 40px;
  box-sizing:border-box;
  transition-duration: 1s;
}
.timeline ul li:hover{
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 25px;

}
.timeline ul li:nth-child(odd){
  float:left;
  text-align:right;
  clear:both;
}
.timeline ul li:nth-child(even){
  float:right;
  text-align:left;
  clear:both;
}
.content{
  padding-bottom:20px;
}
.timeline ul li:nth-child(odd):before
{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  top:24px;
  right:-6px;
  background:black;
  border-radius:50%;
  box-shadow:0 0 0 3px #1917a8;
}
.timeline ul li:nth-child(even):before
{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  top:24px;
  left:-4px;
  background:black;
  border-radius:50%;
  box-shadow:0 0 0 3px #1917a8;
}
.timeline ul li h3{
  padding:0;
  margin:0;
  color:#1917A8;
  font-weight:600;
}
.timeline ul li p{
  margin:10px 0 0;
  padding:0;
  color: grey;
}
.timeline ul li p:hover{
  color: grey;
}
.timeline ul li .time h4{
  margin:0;
  padding:0;
  font-size:14px;
}
.timeline ul li:nth-child(odd) .time
{
  position:absolute;
  top:12px;
  right:-185px;
  margin:0;
  padding:8px 16px;
  background:#1917A8;
  color:#fff;
  border-radius:18px;
  box-shadow:0 0 0 3px grey;
}
.timeline ul li:nth-child(even) .time
{
  position:absolute;
  top:12px;
  left:-165px;
  margin:0;
  padding:8px 16px;
  background:#1917A8;
  color:#fff;
  border-radius:18px;
  box-shadow:0 0 0 3px grey;
}
@media(max-width:1000px)
{
  .timeline{
    width:100%;
  }
}
@media(max-width:767px){
  .timeline{
    width:100%;
    padding-bottom:0;
  }
  h1{
    font-size:40px;
    text-align:center;
  }
  .timeline:before{
    left:20px;
    height:100%;
  }
  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even)
  {
    width:100%;
    text-align:left;
    padding-left:50px;
    padding-bottom:50px;
  }
  .timeline ul li:nth-child(odd):before,
  .timeline ul li:nth-child(even):before
  {
    top:-18px;
    left:16px;
  }
  .timeline ul li:nth-child(odd) .time,
  .timeline ul li:nth-child(even) .time{
    top:-30px;
    left:50px;
    right:inherit;
  }
}
.contact{
  background: black;
  height: 150px;

}
